# Node Configuration
NODE_ENV=production
PORT=3000

# Database Configuration (Connects via proxy-net to the 'postgres' container)
DATABASE_URL="postgresql://user:password@host:5432/database?sslmode=verify-full"

JWT_ACCESS_SECRET=your_jwt_access_secret_key_change_me
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_change_me


UPSTASH_REDIS_REST_URL="https://your-upstash-redis-url.upstash.io"
UPSTASH_REDIS_REST_TOKEN="your_upstash_token"

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_app_password
EMAIL_FROM="My App <your_email@gmail.com>"

STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=whsec_your_stripe_webhook_secret
FRONTEND_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

AGORA_APP_ID=your_agora_app_id
AGORA_APP_CERTIFICATE=your_agora_primary_certificate
AGORA_TOKEN_EXPIRE_SECONDS=3600
